<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>All Listing</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="container">
    <h2>All Job Listings</h2>

    <div class="row">
        <th:block th:each="listing, i : ${listings}">
            <th:block th:if="${i.index % 3 == 0}"/>
            <div class="col-xs-12 col-md-3">
                <a th:href="@{'/listings/single/' + ${listing.id}}">
                    <h2 th:text="${listing.title}"></h2>
                </a>
                <p th:text="${listing.description}"></p>
                <p th:text="${listing.business.businessName}"></p>
            </div>
            <th:block th:if="${i.index % 3 == 2 || i.count == i.size}"/>
        </th:block>
    </div>
</div>
</body>
</html>