<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<nav id="my-nav" class="navbar navbar-default" th:fragment="mainNavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><strong>sidework</strong></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">how it works</a></li>
                <li><a href="#">español</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="/">index</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="!isAuthenticated()">
                <a href="/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> login</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="/register">register</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">logout</button>
                </form>
            </li>
            <li sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></li>
        </ul>
    </div>
</nav>
</body>
</html>