<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: mainHead('Register Your Business')"></head>
    <body>
        <header>
            <nav th:replace="fragments/navbar :: mainNavbar"></nav>
        </header>
        <div class="container">
            <div class="normalize-page-margins">
                <div class="form-wrapper valign">
                    <div th:if="${param.error}">
                        Invalid Username and Password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <!--th:action must match GetMapping path-->
                    <h1 class="title spacer-bottom">Login</h1>
                        <form th:action="@{/login}" method="post">
                            <div class="col-sm-12 form-group">
                                <label for="username">Username</label>
                                <input class="form-control" id="username" name="username" type="text"/>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" name="password" type="password"/>
                            </div>
                            <div class="col-sm-12">
                                <input type="submit" value="login" class="btn btn-success btn-block "/>
                            </div>
                        </form>
                </div> <!-- form wrapper -->
            </div> <!-- normalize page margins -->
        </div> <!-- container -->
    </body>
</html>