<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<header id="showcase">
<div class="container">
    <nav th:replace="fragments/navbar :: mainNavbar"></nav>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <h4>username</h4>
                    <p th:text="${user.username}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4>first name</h4>
                    <p th:text="${worker.firstName}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4>last name</h4>
                    <p th:text="${worker.lastName}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4>phone</h4>
                    <span th:text="${worker.phone}"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-2">
                <img src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg"/>
            </div>
        </div>
    </div>

    <!--<div class="col-xs-12">-->
    <!--<label for="username">-->
    <!--Username:-->
    <!--<span id="username" th:text="${user.username}"></span>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-4 col-md-4">-->
    <!--<label for="first_name">-->
    <!--first name:-->
    <!--<span id="first_name" name="first_name" placeholder="" th:text="${worker.firstName}"></span>-->
    <!--&lt;!&ndash;<input type="text" id="first_name" name="first_name" placeholder="" th:field="*{first_name}"/>&ndash;&gt;-->
    <!--</label>-->
    <!--</div>-->

    <!--<div class="col-xs-12 col-sm-4 col-md-4">-->
    <!--<label for="last_name">-->
    <!--last name:-->
    <!--<span id="last_name" name="last_name" placeholder="" th:text="${worker.lastName}"></span>-->
    <!--</label>-->
    <!--</div>-->

    <!--<div class="col-xs-12 col-sm-4 col-md-4">-->
    <!--<img src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg"/>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-4 col-md-4">-->
    <!--<label for="phone">-->
    <!--phone:-->
    <!--<span id="phone" name="phone" placeholder="" th:text="${worker.phone}"></span>-->
    <!--</label>-->
    <!--</div>-->
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div>
                <h4>availability</h4>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="optionsRadios" id="employed1"
                           th:attrappend="checked=${worker.currentEmployment}?checked"/>
                    currently employed?
                </label>
            </div>

            <div>
                <label>
                    <input type="checkbox" name="optionsRadios" id="employed2" value="option1"
                           th:attrappend="checked=${worker.availability}?checked"/>
                    free to pick up shifts?
                </label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 hidden"></div>
    </div>

    <br/>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <!--<label for="">-->
            <!--skills:-->
            <div class="form-group">
                <label for="skills">skills:</label>
                <p id="skills" th:text="${worker.skills}"></p>
            </div>
            <!--</label>-->
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4"></div>

        <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="bio">bio:</label>
                <p id="bio" th:text="${worker.bio}"></p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4"></div>

        <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>
</div>
</header>
</body>
</html>

<!--<div class="row">-->
    <!--<div class="col-md-6 col-xs-12">-->
        <!--<p>First Name:</p>-->
        <!--<p>Last Name:</p>-->
        <!--<p>Phone Number:</p>-->
        <!--<p>Availability</p>-->
        <!--<p>Skills:</p>-->
        <!--<p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aut commodi error modi optio veniam veritatis? Ab accusamus aliquam consectetur cumque eius, exercitationem facere inventore ipsa modi molestiae, repellendus sit!</p>-->
        <!--<div class="col-md-6 col-xs-12">-->
            <!--<img src=" http://fillmurray.com/g/400/400" class="img-responsive" alt="Responsive image" />-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;end of row&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<h1>Experience</h1>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 col-xs-12">-->
            <!--<ul class="list-group">-->
                <!--<li class="list-group-item">Cras justo odio</li>-->
                <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
                <!--<li class="list-group-item">Morbi leo risus</li>-->
                <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
                <!--<li class="list-group-item">Vestibulum at eros</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-xs-12">-->
            <!--<ul class="list-group">-->
                <!--<li class="list-group-item">Cras justo odio</li>-->
                <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
                <!--<li class="list-group-item">Morbi leo risus</li>-->
                <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
                <!--<li class="list-group-item">Vestibulum at eros</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12 ">-->
            <!--<h1>Resume</h1>-->
            <!--<div class="form-group more-bottom">-->
                <!--<label for="exampleInputFile">File input</label>-->
                <!--<input class="center-item" type="file" id="exampleInputFile"/>-->
                <!--<p class="text-center help-block">Upload your resume</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->