<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="css/profile-worker.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><strong>sidework</strong></a>
            </div><div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="covers"><a href="#"><strong>COVERS</strong></a></li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="title">username</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="first_name">
                first name:
                <input type="text" id="first_name" name="first_name" placeholder="" required>
            </label>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="password">
                last name:
                <input type="text" id="last_name" name="last_name" placeholder="" required>
            </label>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4" style="background: pink; border: 1px solid black; height: 100px;">avatar</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <label for="password">
                phone:
                <input type="text" id="password" name="password" placeholder="" required>
            </label>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div>
                <h4>availability</h4>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                    currently employed?
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                    free to pick up shifts?
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 hidden"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <!--<label for="">-->
            <!--skills:-->
            <div class="form-group">
                <label for="skills">Skills:</label>
                <textarea class="form-control" rows="5" id="skills"></textarea>
            </div>
            <!--</label>-->
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="bio">Bio:</label>
                <textarea class="form-control" rows="5" id="bio"></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h3>experience</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p>select all current/past relevant job titles</p>
                </div>
            </div>
        </div>
    </div>
    <!--FOH-->
    <div class="row">
        <div class="col-xs-12 col-md-6" style="background: pink; border: 1px solid black; height: 450px;">
            <h4>FOH</h4>
            <div class="row">
                <div class="col-xs-3 floor">floor</div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                            server
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option1">
                            host
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox3" value="option1">
                            banquet server
                        </label>
                    </div>
                </div>
            </div>
            <!--FOH-->
            <div class="row">
                <div class="col-xs-3 bar">bar</div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox4" value="option1">
                            bartender
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox5" value="option1">
                            barback
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox6" value="option1">
                            cocktail server
                        </label>
                    </div>
                </div>
            </div>
            <!--BOH-->
            <h4>BOH</h4>
            <div class="row">
                <div class="col-xs-3 kitchen">kitchen</div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox4" value="option1">
                            line cook
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox5" value="option1">
                            prep cook
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox6" value="option1">
                            food expeditor
                        </label>
                    </div>
                </div>
            </div>
            <!--BOH-->
            <div class="row">
                <div class="col-xs-3 bar">support</div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox4" value="option1">
                            dishwasher
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox5" value="option1">
                            busser
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox6" value="option1">
                            handyman
                        </label>
                    </div>
                </div>
            </div>
            <!--MGMT-->
            <h4>MGMT</h4>
            <div class="row">
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox4" value="option1">
                            general manager
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox5" value="option1">
                            executive chef
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox6" value="option1">
                            owner
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox6" value="option1">
                            assistant manager
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="radio text-left">
                        <label>
                            <input type="checkbox" name="optionsRadios" id="optionsCheckbox6" value="option1">
                            sous chef
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!--SECOND HALF-->


        <div class="row">
            <div class="col-xs-12 col-md-6" style="background: pink; border: 1px solid black; height: 450px;">
                <div class="col-xs-6" style="border: 1px solid black; height: 400px;">
                    <h4 class="r">resume</h4>
                </div>
                <div class="col-xs-6" style="border: 1px solid black; height: 400px;">
                    <h4 class="r">reference</h4>
                </div>
            </div>
        </div>
    </div>

    <!--PASSWORD INPUTS--><!--PASSWORD INPUTS--><!--PASSWORD INPUTS--><!--PASSWORD INPUTS--><!--PASSWORD INPUTS--><!--PASSWORD INPUTS-->
    <div class="row">
        <div class="col-12-xs">
            <strong><h3>update password</h3></strong>
            <!--<input id="update_password" name="update_password" class="form-control" type="password">-->
            <label for="password">new password:</label>
            <input id="password" name="password" class="form-control" type="password">

            <label for="confirm_password">confirm password:</label>
            <input id="confirm_password" name="confirm_password" class="form-control" type="text">
            <!--<button type="submit">submit</button>-->
            <br>
            <input type="submit" class="btn btn-danger btn-block">
        </div>
    </div>

    <!--FOOTER-->
    <div>
        <div class="panel-footer">
            <div class="row footerr">
                <div class="col-md-3 col-xs-3 mgmLogo">MGM LOGO</div>
                <div class="col-md-3 col-xs-3 footer"><a>About us</a></div>
                <div class="col-md-3 col-xs-3 footer2"><a>contact us</a></div>
                <div class="col-md-3 col-xs-3 footer3"><a>2018 SATX sidework</a></div>
            </div>
            <br>
            <br>
            <div class="row footerrr">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-6 col-sm-6 col-xs-6 links"><a>facebook twitter linkedIN ig</a></div>
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>