<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>
<br/>
<div>
    <div class="container">
        <h1>register</h1>
        <form th:action="@{/users/register-mgmt}" method="post">
            <div class="form-group">
                <label for="username">username</label>
                <input id="username" name="username" th:value="${user.username}" class="form-control" type="text"/>
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input id="email" name="email" th:value="${user.email}" class="form-control" type="email"/>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input id="password" name="password" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <label for="confirm_password">confirm password</label>
                <input id="confirm_password" name="confirm_assword" class="form-control" type="password"/>
            </div>

            <div class="form-group">
                <label for="business_phone_number">business name</label>
                <input id="business_name" th:value="${business.businessName}" name="businessName" class="form-control" type="tel"/>
            </div>

            <div class="form-group">
                <label for="business_phone_number">business phone number</label>
                <input id="business_phone_number" th:value="${business.businessPhone}" name="businessPhone" class="form-control" type="tel"/>
            </div>

            <div class="form-group">
                <label for="business_website">business website</label>
                <input id="business_website" th:value="${business.website}" name="website" class="form-control" type="text"/>
            </div>

            <div class="form-group">
                <label for="business_address">address</label>
                <input id="business_address" th:value="${business.address}" name="address" class="form-control" type="textarea"/>
            </div>

            <div class="form-group">
                <label for="info">info</label>
                <input id="info" th:value="${business.businessInfo}" name="businessInfo" class="form-control" type="textarea"/>
            </div>

            <div class="form-group">
                <label><a href="#">please upload business owner verification letter</a></label>
            </div>
            <br/>
            <input type="submit" class="btn btn-danger btn-block"/>
        </form>
    </div>
</div>
</body>
</html>