<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Register</title>
    <!--<link rel="stylesheet" href="../../static/css/register-worker.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><strong>sidework</strong></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">how it works</a></li>
                <li><a href="#">español</a></li>
                <li><a href="#">about us</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> login</a></li>
        </ul>
    </div>
</nav>
<br/>
<div>
    <div class="container">
        <div class="pic"></div>
        <h1>register</h1>
        <form th:action="@{/sign-up}" method="post" th:object="${user}">
            <div class="form-group">
                <label for="username">username</label>
                <input id="username" th:field="*{username}" class="form-control" type="text"/>
            </div>
            <!--<div class="alert alert-danger" role="alert">-->
            <!--<strong>That username already exists</strong>-->
            <!--</div>-->

            <div class="form-group">
                <label for="email">email</label>
                <input id="email" th:field="*{email}" class="form-control" type="text"/>
            </div>
            <!--<div class="alert alert-danger" role="alert">-->
            <!--<strong>Not a valid email address</strong>-->
            <!--</div>-->

            <div class="form-group">
                <label for="password">password</label>
                <input id="password" th:field="*{password}" class="form-control" type="password"/>
            </div>

            <!--<div class="alert alert-danger" role="alert">-->
            <!--<strong>Password doesn't match. Please try again.</strong>-->
            <!--</div>-->

            <div class="form-group">
                <label for="confirm_password">confirm password</label>
                <input id="confirm_password" name="confirm_password" class="form-control" type="password"/>
            </div>

            <div class="form-group">
                <label for="first_name">first name</label>
                <input id="first_name" name="first_name" class="form-control" type="text"/>
            </div>

            <div class="form-group">
                <label for="last_name">last name</label>
                <input id="last_name" name="last_name" class="form-control" type="text"/>
            </div>
            <!--<div class="form-group">-->
            <!--<label for="phone_number">position</label>-->
            <!--<input id="phone_number" name="last_name" class="form-control" type="text">-->
            <!--</div>-->

            <div>
                <h3>Position</h3>
                <p>please select all relevant job-title experience</p>
                <h3>FOH</h3>
                <h3>floor</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox1" value="server"/>
                                server
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox2" value="host"/>
                                host
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox3"
                                       value="banquet server"/>
                                banquet server
                            </label>
                        </div>
                    </li>
                </ul>

                <h3>bar</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox1" value="bartender"/>
                                bartender
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox2" value="barback"/>
                                barback
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox3"
                                       value="cocktail server"/>
                                cocktail server
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <h3>BOH</h3>
                <h3>kitchen</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox1" value="line cook"/>
                                line cook
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox2" value="prep cook"/>
                                prep cook
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox3"
                                       value="food expediter"/>
                                food expediter
                            </label>
                        </div>
                    </li>
                </ul>

                <h3>support</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox1"
                                       value="dishwasher"/>
                                dishwasher
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox2" value="busser"/>
                                busser
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox3" value="handyman"/>
                                handyman
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <h3>MGMT</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox1"
                                       value="general manager"/>
                                general manager
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox2"
                                       value="executive chef"/>
                                executive chef
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox3" value="owner"/>
                                owner
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox1"
                                       value="assistant manager"/>
                                assistant manager
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optionsRadios" class="optionsCheckbox4" value="sous chef"/>
                                sous chef
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <h2>availability</h2>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">currently employed?</div>
                    <!--<input type="submit" class="btn btn-danger btn-block">-->
                    <input type="radio" name="employed" value="yes"/> yes
                    <input type="radio" name="employed" value="no"/> no
                    <!--<button type="button" name="button" class="btn btn-primary" aria-label="Right Align" value="yes"> yes</button>-->
                    <!--<button type="button" name="button" class="btn btn-primary" aria-label="Right Align" value="no"> no</button>-->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">are you free to pick up shifts?</div>
                    <!--<input type="submit" class="btn btn-danger btn-block">-->
                    <input type="radio" name="available" value="yes"/> yes
                    <input type="radio" name="available" value="no"/> no
                    <!--<button type="button" name="button" class="btn btn-primary" aria-label="Right Align" value="yes"> yes</button>-->
                    <!--<button type="button" name="button" class="btn btn-primary" aria-label="Right Align" value="no"> no</button>-->
                </div>
            </div>
            <input type="submit" class="btn btn-danger btn-block"/>
        </form>
    </div>
</div>
</body>
</html>