<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/workspace-mgmt.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><strong>sidework</strong></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> logout</a></li>
        </ul>
    </div>
</nav>
<br>
<main class="container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title"><h1><strong>WHO DO YOU NEED</strong></h1></div>
        </div>
        <!--BUTTON-->
        <div class="row"></div>
        <div class="col-xs-12 button"><button type="submit">FIND</button></div>
    </div>


    <div class="row">
        <div class="col-xs-6 fohboh"><h3>Front of House</h3></div>
        <div class="col-xs-6 fohboh"><h3>Back of House</h3></div>
    </div>


    <!--FRONT OF HOUSE-->
    <div class="row">
        <div class="col-xs-12 col-md-3 cate">
            <!--<h4 class="foh">Front of House</h4>-->
            <div class="panel panel-default">
                <div class="panel-heading">FLOOR</div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <div class="radio text-left">
                            <label>
                                <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                                server
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio text-left">
                            <label>
                                <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
                                host
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <div class="radio text-left">
                            <label>
                                <input type="checkbox" name="optionsRadios" id="optionsCheckbox3" value="option3">
                                banquet server
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 cate">
                <!--<h4>Front of House</h4>-->
                <div class="panel panel-default">
                    <div class="panel-heading">BAR</div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">
                            <div class="radio text-left">
                                <label>
                                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                                    bartender
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="radio text-left">
                                <label>
                                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
                                    barback
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="radio text-left">
                                <label>
                                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox3" value="option3">
                                    cocktail server
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>





            <!--BACK OF HOUSE-->
            <div class="col-xs-12 col-md-3 cate">
                <!--<h4 class="boh">Back of House</h4>-->
                <div class="panel panel-default">
                    <div class="panel-heading">KITCHEN</div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">
                            <div class="radio text-right">
                                <label>
                                    line cook
                                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="radio text-right">
                                <label>
                                    prep cook
                                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="radio text-right">
                                <label>
                                    food expeditor
                                    <input type="checkbox" name="optionsRadios" id="optionsCheckbox3" value="option3">
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-3 cate">
                    <!--<h4>Front of House</h4>-->
                    <div class="panel panel-default">
                        <div class="panel-heading">SUPPORT</div>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">
                                <div class="radio text-left">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1">
                                        dishwasher
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <div class="radio text-left">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
                                        busser
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <div class="radio text-left">
                                    <label>
                                        <input type="checkbox" name="optionsRadios" id="optionsCheckbox3" value="option3">
                                        handyman
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>




            <!--worker profiles-->
            <div class="row">
                <div class="col-xs-4 user">
                    <div class="section">
                        <div class="avatar"></div>
                        <h3>username</h3>
                        <h4>position</h4>
                    </div>
                </div>
                <div class="col-xs-4 user">
                    <div class="section">
                        <div class="avatar"></div>
                        <h3>username</h3>
                        <h4>position</h4>
                    </div></div>
                <div class="col-xs-4 user">
                    <div class="section">
                        <div class="avatar"></div>
                        <h3>username</h3>
                        <h4>position</h4>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4 user">
                    <div class="section">
                        <div class="avatar"></div>
                        <h3>username</h3>
                        <h4>position</h4>
                    </div>
                </div>
                <div class="col-xs-4 user">
                    <div class="section">
                        <div class="avatar"></div>
                        <h3>username</h3>
                        <h4>position</h4>
                    </div>
                </div>
                <div class="col-xs-4 user">
                    <div class="section">
                        <div class="avatar"></div>
                        <h3>username</h3>
                        <h4>position</h4>
                    </div>
                </div>
            </div>
            <br>
        </div>


        <!--info-->
        <div class="info">
            <h1>SLAM ANTONIO SERVICE</h1>
            <h3>looking to join a new crew?</h3>
            <h3>try searching for specific key terms</h3>
            <br>
            <p>e.g. "sacc", "stage", "volunteer",</p>
            <p> "daily staff meal", etc.</p>
        </div>
        <br>

        <!--footer-->
        <div class="form-group">
            <label class="work_locator" for="work_locator"></label>
            <input id="work_locator" name="work_locator" class="form-control" type="text">
        </div>
        <input type="submit" class="btn btn-danger btn-block">
    </div>
    <br>
    <div class="panel-footer">
        <div class="text-right">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 mgmLogo">MGM LOGO</div>
                <div class="col-md-3 col-sm-3 col-xs-3 footer">About us</div>
                <div class="col-md-3 col-sm-3 col-xs-3 footer2">contact us</div>
                <div class="col-md-3 col-sm-3 col-xs-3 footer3">2018 SATX sidework</div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-6 col-sm-6 col-xs-6 links">facebook twitter linkedIN ig</div>
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>