.cate {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}
.cate2 {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
}
.cate3 {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
}
.cate4 {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}
/*#showcase {*/
    /*background-image: url('../img/wine.jpeg');*/
    /*height: 200vh;*/
    /*background-size: cover;*/
    /*background-position: center;*/
/*}