body {
    background: url('/img/guacamole.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:-100;
}

.container {
    z-index:2;
}

.header {
    margin-top:12%;
    color:#fff;
}

.header h1 {
    color:#fff;
}


