/*body {*/
    /*background: url('../img/guacamole.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*z-index:-100;*/
/*}*/

/*.container {*/
    /*z-index:2;*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

.header {
    margin-top:12%;
    color:#fff;
}

.header h1 {
    color:#fff;
}
#showcase {
    background: url('../img/guacamole.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}
h1.title {
    font-size: 70px;
}
a.button3 {
    font-size: 13px;
    text-decoration: none;
    color: red;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
a.button3:hover {
    background: #147f89;
    color: white;
}
/*div.jumbotron-jumbotron-fluid {*/
    /*background: rgba(200, 54, 54, 0.5);*/
/*}*/

#landingPageJumbo {
    background: rgba(0, 0, 0, 0.5);
}


