.title {
    text-align: center;
}
.floor {
    text-decoration: underline;
}
.kitchen {
    text-decoration: underline;
}
.bar {
    text-decoration: underline;
}
.r {
    text-align: center;
}
.footerr {
    text-align: center;
}
.footerrr {
    text-align: center;
}
a.navbar-brand {
    font-size: 40px;

}
/*#showcase {*/
    /*background-image: url('../img/profileBackground.jpg');*/
    /*height: 100vh;*/
    /*background-size: cover;*/
    /*background-position: center;*/
/*}*/