/* Small devices (tablets, 768px and up) */
/*@media screen and (min-width:768px)*/

/* Medium devices (desktops, 992px and up) */
/*@media screen and (min-width:992px)*/

/* Large devices (large desktops, 1200px and up) */
/*@media screen and (min-width:1200px)*/


.navbar.navbar-default {
    background-color: white;
}

a.navbar-brand {
    font-size: 40px;

}

a {
    margin-left: 45px;
}

/*.row {*/
/*border: 1px solid black;*/
/*height: 500px;*/
/*width: 75%;*/
/*margin-left: auto;*/
/*margin-right: auto;*/

/*}*/

/*div.col-lg-3.col-md-6 {*/
/*font-size: 35px;*/
/*border: 1px solid black;*/
/*}*/

h1 {
    text-align: right;
    /*text-decoration: ;*/
    font-size: 40px;
    /*text-justify: inter-cluster;*/
    margin-right: auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}


/*label {*/
/*font-size: 20px;*/
/*}*/
div.row {
    margin-left: auto;
    margin-right: auto;
}