* {
    margin: 0;
    padding: 0;
}
#showcase {
    background-image: url('../img/coffeeCup.jpg');
    height: 200vh;
    background-size: cover;
    background-position: center;
}
.container {
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/
}
.register {
    color: white;
    text-align: left;
    font-size: 55px;
}
label {
    color: white;
}
.availability {
    color: white;
    text-align: left;
}
div.panel-heading {
}
div.panel.panel-default {
    text-align: center;
}