a.navbar-brand {
    font-size: 40px;
}
.title {
    text-align: center;
    font-size: 35px;
}
.cate {
    text-align: center;
}
.button {
    text-align: center;
    color: #5bc0de;
    /*width: 100%;*/
}
.user {
    text-align: center;
    border: 1px solid black;
    height: 300px;
    width: 10px;
    margin-bottom: auto;
}
.mgmLogo {
    background: url("/img/Blank_Club_Website_Avatar_Gray.jpg");
    text-align: center;
}
.footer {
    text-align: center;
}
.footer2 {
    text-align: center;
}
.footer3 {
    text-align: center;
}
.links {
    text-align: center;
}
.info {
    text-align: center;
}
/*.radio label {*/
/*padding: 0;*/
/*min-height: 20px;*/
/*margin-bottom: 0;*/
/*font-weight: 400;*/
/*cursor: pointer;*/
/*}*/
.fohboh {
    text-decoration: underline;
    text-align: center;
}
.section {

}