<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8" />
    <title>about us</title>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>

<header>
<div class="container">
        <h1>Meet the crew putting the <strong>work</strong> in Sidework</h1>
    <div class="jumbotron">







    </div>
</div>
</header>
</body>
</html>














<!--below jumbotron-->
<!--<img class="img-responsive center-block" src="/img/aboutus.png" width="100%"/>-->