<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head:: mainHead('About Us')"></head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">about us</h1>
            <p class="text-center">meet the crew putting the <strong>work</strong> in sidework</p>
        </div><!-- jumbotron -->

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail border-none">
                    <img src="/img/greg.png" alt="greg"/>
                    <div class="caption">
                        <h3>Greg Schmitt</h3>
                        <p>My major contributions to this project were front end design, consisting of html, css, and bootstrap. Also finding users by their unique id and displaying job listings, using Java Springboots MVC.</p>
                        <p><a href="https://github.com/GregSchmitt" class="btn btn-default" role="button">Github</a> <a href="linkedin.com/in/gregschmitt" class="btn btn-default" role="button">Linkedin</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail border-none">
                    <img src="/img/mary.png" alt="Mary"/>
                    <div class="caption">
                        <h3>Mary Kathryn Syms</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur dignissimos distinctio dolores eum, facilis incidunt, inventore labore laboriosam odio officiis optio quaerat quia quidem sapiente sequi similique, temporibus unde?</p>
                        <p><a href="https://linkedin.com/in/marykathrynsyms" class="btn btn-default" role="button">Github</a> <a href="https://github.com/tacobody" class="btn btn-default" role="button">Linkedin</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail border-none">
                    <img src="/img/michael.png" alt="michael"/>
                    <div class="caption">
                        <h3>Michael Cabeza</h3>
                        <p>I designed much of the back-end portion of the Sidework capstone project using Java, Spring, and Thymeleaf including user registration, profile editing, and job listing creation.</p>
                        <p><a href="https://github.com/MicCabeza22" class="btn btn-default" role="button">Github</a> <a href="#" class="btn btn-default" role="button">Linkedin</a></p>
                    </div>
                </div>
            </div>
        </div><!-- end of picture row-->
    </div><!-- container -->
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>