<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8" />
    <title>get your sidework done</title>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>

<header>
<h1>how it works</h1>

</header>
<div class="jumbotron">
    <img class="img-responsive center-block" width="100%" src="/img/cropTempHowItWorks.jpg" />
</div>

</body>
</html>


