<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta charset="UTF-8" />
    <title>get your sidework done</title>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="container">
    <h1>how it works</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="" style="border: 1px solid black"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div>
                    <h2>GET YOUR SIDEWORK DONE</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolor, dolore dolorem ea eius, eos ex laborum m quibusdam quos rerum ullam!</p>
                    <button type="submit">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>









<!--<img class="img-responsive center-block" width="100%" src="/img/cropTempHowItWorks.jpg" />-->