<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<meta charset="UTF-8" />
<title>sidework</title>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar :: mainNavbar"></nav>

<div id="slider">
    <figure>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-active">
                    <img class="img-responsive center-block" width="75%" src="/img/womanReallyEnjoyingFruitForBreakfast.jpg" alt="Sixth slide" />
                </div>
                <div class="carousel-item active">
                    <img class="img-responsive center-block" width="75%" src="/img/mojitoMintRedLightsMetalBartop.jpg" alt="First slide" />
                </div>
                <div class="carousel-active">
                    <img class="img-responsive center-block" width="75%" src="/img/chefCuttingMeat.jpg"  alt="Fifth slide" />
                </div>
                <div class="carousel-active">
                    <img class="img-responsive center-block" width="75%" src="/img/dishesWoodTableAerial.jpg" alt="Second slide" />
                </div>
                <div class="carousel-active">
                    <img class="img-responsive center-block" width="75%" src="/img/lineCookBackTurnedBOYHat.jpg" alt="Third slide" />
                </div>
                <div class="carousel-item active">
                    <img class="img-responsive center-block" width="75%" src="/img/chefSmokingPortrait.jpg" alt="Forth slide" />
                </div>
            </div>
        </div>
    </figure>
    <div class="bg">
    </div>
</div>
<div class="main-button">

</div>
</body>
</html>