<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
<meta charset="UTF-8" />
<title>sidework</title>
</head>
<body>

<div class="bg"></div>

<!-- Header -->
<header></header>

<div class="container">
    <div class="row header text-center">
        <div class="col-md-12">
            <h1>sidework</h1>
            <p class="lead">connecting service industry professionals in San Antonio, Texas</p>
            <div class="col-xs-6">
                <a class="btn btn-large btn-primary float-right" th:href="@{/users/register-worker}" align="right">pick up shifts</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-large btn-primary float-left" th:href="@{/businesses/create}">get shifts covered</a>
            </div>
            <div class="col-md-12">
                <a th:href="@{/howitworks}">get your sidework done</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>