<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('Register Your Business')">
    <link rel="stylesheet" href="../../css/businesses-create.css"/>
</head>
<body>
<header id="showcase">
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container">
    <div class="pic"></div>
    <h1>register your business</h1>

    <br/>

    <!--Display the form for creating a new business-->
    <form th:action="@{/businesses/create}" method="post" th:object="${business}">
        <div class="form-group">
            <label for="username">username</label>
            <input id="username" name="username" th:value="${user.username}" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input id="email" name="email" th:value="${user.email}" class="form-control" type="email"/>
        </div>

        <div class="form-group">
            <label for="password">password</label>
            <input id="password" name="password" th:value="${user.password}" class="form-control" type="password"/>
        </div>

        <div class="form-group">
            <label for="confirm_password">confirm password</label>
            <input id="confirm_password" name="password_confirm" class="form-control" type="password"/>
        </div>

        <div class="form-group">
            <label for="business_name">business name</label>
            <input id="business_name" name="businessName" th:field="*{businessName}" class="form-control"
                   type="text"/>
        </div>

        <div class="form-group">
            <label for="business_address">address</label>
            <input id="business_address" name="address" th:field="*{address}" class="form-control"
                   type="text"/>
        </div>

        <div class="form-group">
            <label for="business_phone_number">business phone number</label>
            <input id="business_phone_number" name="businessPhone" th:field="*{businessPhone}"
                   class="form-control" type="tel"/>
        </div>

        <div class="form-group">
            <label for="business_website">business website</label>
            <input id="business_website" name="website" th:field="*{website}" class="form-control"
                   type="text"/>
        </div>

        <div class="form-group">
            <label for="info">info</label>
            <input id="info" name="businessInfo" th:field="*{businessInfo}" class="form-control" type="text"/>
        </div>

        <div class="form-group">
            <label><a href="#">please upload business owner verification letter</a></label>
        </div>

        <br/>

        <input type="submit" class="btn btn-success btn-block"/>
    </form>
</div>
</header>
</body>
</html>