<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('All Businesses')">
    <link rel="stylesheet" href="../../css/businesses-index.css"/>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container">
    <h1>all businesses</h1>
    <th:block th:each="business, i : ${businesses}">
        <th:block th:if="${i.index % 3 == 0}" th:utext="'&lt;div class=&quot;row&quot;&gt;'"/>
        <div class="col-xs-4">
            <h2 th:text="${business.businessName}"></h2>
            <p th:text="${business.businessInfo}"></p>
        </div>
        <th:block th:if="${i.index % 3 == 2 || i.count == i.size}" th:utext="'&lt;/div&gt;'"/>
    </th:block>
</div>
</body>
</html>