<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: mainHead('All Businesses')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>

<div class="container">
    <h1>all businesses</h1>
    <!--<th:block th:each="business, i : ${businesses}">-->
        <!--<th:block th:if="${i.index % 3 == 0}" th:utext="'&lt;div class=&quot;row&quot;&gt;'"/>-->
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="fill-parent business-img" src="https://source.unsplash.com/300x275/?business" alt="..." />
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
            <!--<div class="media">-->
                <!--<div class="media-left">-->
                    <!--<a href="#">-->
                        <!--<img class="media-object" src="https://source.unsplash.com/64x64/?business" alt="..." />-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="media-body">-->
                    <!--<h4 class="media-heading">Media heading</h4>-->
                <!--</div>-->
            <!--</div>-->

        <!--<div class="card col-sm-12 col-md-6 card-sizing">-->
            <!--<img class="card-img-top" src="https://source.unsplash.com/300x300/?business" alt="Card image cap" />-->
            <!--<div class="card-body">-->
                <!--<p class="card-text">-->
                <!--<h2>Lorem Ipsum</h2>-->
                <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh. Tristique et egestas quis ipsum suspendisse ultrices gravida. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Libero enim sed faucibus turpis in eu mi bibendum neque.-->
                <!--</p>-->
                    <!--&lt;!&ndash;<h2 th:text="${business.businessName}"></h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p th:text="${business.businessInfo}"></p>&ndash;&gt;-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<th:block th:if="${i.index % 3 == 2 || i.count == i.size}" th:utext="'&lt;/div&gt;'"/>-->
    <!--</th:block>-->
</div>
</body>
</html>