<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head:: mainHead('Workers Dashboard')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div class="container">
    <div class="normalize-page-margins">
        <h1 class="text-center space-bottom">All Workers</h1>

        <form class="navbar-form navbar-right" action="/search">
            <div class="form-group">
                <input type="text" name="searchKeyword" class="form-control" placeholder="Search" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="row">
        <th:block th:each="worker, i : ${workers}">
            <th:block th:if="${i.index % 3 == 0}" />
            <div class="col-xs-4">
                <h2 th:text="${worker.firstName}"></h2>
                <h2 th:text="${worker.lastName}"></h2>
            </div>
            <th:block th:if="${i.index % 3 == 2 || i.count == i.size}" />
        </th:block>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>