<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head:: mainHead('Workers Dashboard')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <p>First Name:</p>
                <p>Last Name:</p>
                <p>Phone Number:</p>
                <p>Availability</p>
                <p>Skills:</p>
                <p>Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aut commodi error modi optio veniam veritatis? Ab accusamus aliquam consectetur cumque eius, exercitationem facere inventore ipsa modi molestiae, repellendus sit!</p>
                <th:block th:each="worker, i : ${workers}">
                    <th:block th:if="${i.index % 3 == 0}" />
                    <div class="col-xs-4">
                        <h2 th:text="${worker.firstName}"></h2>
                        <h2 th:text="${worker.lastName}"></h2>
                    </div>
                    <th:block th:if="${i.index % 3 == 2 || i.count == i.size}" />
                </th:block>
            </div>
            <div class="col-md-6 col-xs-12">
                <img src=" http://fillmurray.com/g/400/400" class="img-responsive" alt="Responsive image" />
            </div>
        </div><!--end of row-->
        <div class="row">
            <div class="col-md-12">
                <h1>Experience</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <h1>Resume</h1>
                <div class="form-group more-bottom">
                    <label for="exampleInputFile">File input</label>
                    <input class="center-item" type="file" id="exampleInputFile"/>
                    <p class="text-center help-block">Upload your resume</p>
                </div>
            </div>
        </div>
    </div><!--container-->

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>